{% extends 'flip/base.html' %}
{% load static %}

{% block link %}
<link rel="stylesheet" href="{% static 'flip/css/style.css' %}">
{% endblock %}

{% block title %}
<title>Flippics - Search for users</title>
{% endblock %}

{% block content %}

<nav class="navbar navbar-expand-lg sticky-top">
    <div class="container" style="max-width: 53rem;">
        <a class="navbar-brand _BFT5t" href="{% url 'home' %}">Flippics</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="_vfgvt d-flex me-auto">
                <form action="{% url 'searchforusers' %}" method="POST">
                    {% csrf_token %}
                    <input class="_SECD me-2" type="search" name="search_users" placeholder="Search..."
                        aria-label="Search">
                </form>
            </div>
            <div class="_HBNgy">
                <ul class="navbar-nav mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'home' %}">
                            <svg width="20" height="20" fill="#783299" class="bi bi-house" viewBox="0 0 16 16">
                                <path fill-rule="evenodd"
                                    d="M2 13.5V7h1v6.5a.5.5 0 0 0 .5.5h9a.5.5 0 0 0 .5-.5V7h1v6.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5zm11-11V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z" />
                                <path fill-rule="evenodd"
                                    d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z" />
                            </svg>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'explore' %}">
                            <svg width="20" height="20" fill="#783299" class="bi bi-people" viewBox="0 0 16 16">
                                <path
                                    d="M15 14s1 0 1-1-1-4-5-4-5 3-5 4 1 1 1 1h8zm-7.978-1A.261.261 0 0 1 7 12.996c.001-.264.167-1.03.76-1.72C8.312 10.629 9.282 10 11 10c1.717 0 2.687.63 3.24 1.276.593.69.758 1.457.76 1.72l-.008.002a.274.274 0 0 1-.014.002H7.022zM11 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm3-2a3 3 0 1 1-6 0 3 3 0 0 1 6 0zM6.936 9.28a5.88 5.88 0 0 0-1.23-.247A7.35 7.35 0 0 0 5 9c-4 0-5 3-5 4 0 .667.333 1 1 1h4.216A2.238 2.238 0 0 1 5 13c0-1.01.377-2.042 1.09-2.904.243-.294.526-.569.846-.816zM4.92 10A5.493 5.493 0 0 0 4 13H1c0-.26.164-1.03.76-1.724.545-.636 1.492-1.256 3.16-1.275zM1.5 5.5a3 3 0 1 1 6 0 3 3 0 0 1-6 0zm3-2a2 2 0 1 0 0 4 2 2 0 0 0 0-4z" />
                            </svg>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'Upload' %}">
                            <svg width="20" height="20" fill="#783299" class="bi bi-plus-circle" viewBox="0 0 16 16">
                                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                                <path
                                    d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
                            </svg>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'Like' %}">
                            <svg width="19" height="19" fill="#783299" class="bi bi-heart" viewBox="0 0 16 16">
                                <path
                                    d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z" />
                            </svg>
                        </a>
                    </li>
                    <li class="nav-item">
                        {% if request.user.image %}
                        <a class="nav-link" data-bs-toggle="modal" href="#exampleModalToggle">
                            <img width="20" height="20" style="border-radius: 50%;" src="{{request.user.image.url}}"
                                alt="">
                        </a>
                        {% else %}
                        <a class="nav-link" data-bs-toggle="modal" href="#exampleModalToggle">
                            <svg width="20" height="20" fill="#783299" class="bi bi-person-circle" viewBox="0 0 16 16">
                                <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
                                <path fill-rule="evenodd"
                                    d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z" />
                            </svg>
                        </a>
                        {% endif %}
                    </li>
                </ul>
            </div>
        </div>
        <div class="_bGVxz">
            <div class="nav-item">
                <a class="nav-link" data-bs-toggle="modal" href="#searchModalToggle">
                    <svg width="20" height="20" fill="#783299" class="bi bi-search" viewBox="0 0 16 16">
                        <path
                            d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                    </svg>
                </a>
            </div>
        </div>
    </div>
</nav>

{% include 'flip/modal.html' %}


<div class="container" style="max-width: 53rem;">
    <div class="card" style="border: none;">
        {% if search_data %}
        <div class="row row-cols-2 row-cols-md-3 g-4 my-2">
            {% for sd in search_data %}
            <div class="col">
                <a style="text-decoration: none;" href="{% url 'usersaccounts' sd.id %}">
                    <div class="card mb-3">
                        <div class="card-body d-flex">
                            <div class="_BHUUUJ me-auto">
                                <p class="card-text _CFTGSE" style="color: #783299;">
                                    {% if sd.image %}
                                    <img width="60" height="60" style="border-radius: 50%;" class="mt-1"
                                        src="{{sd.image.url}}" alt="">
                                    {% else %}
                                    <svg width="60" height="60" fill="#783299" class="bi bi-person-circle mt-1"
                                        viewBox="0 0 16 16">
                                        <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
                                        <path fill-rule="evenodd"
                                            d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z" />
                                    </svg>
                                    {% endif %}
                                    <span style="display: inline-block;margin-left: 7px;" class="">
                                        <span style="font-size: 13px;">{{sd.username}}</span>
                                        <br>
                                        <span style="font-size: 10px;">{{sd.first_name}}</span>
                                    </span>
                                </p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% else %}
<div class="container mt-5" style="max-width: 35rem;">
    <div class="_HUCCV4r mt-3 text-center">
        <p class="_HHG55r4" style="color: #797979;">No searching result.</p>
    </div>
</div>
{% endif %}
</div>


<!-- Side bar for media phones -->
<div class="_fbved4">
    <div class="card _BVt5">
        <ul class="list-group list-group-horizontal justify-content-center">
            <li class="list-group-item _fbgvT5">
                <a class="" href="{% url 'home' %}">
                    <svg width="25" height="25" fill="#783299" class="bi bi-house" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                            d="M2 13.5V7h1v6.5a.5.5 0 0 0 .5.5h9a.5.5 0 0 0 .5-.5V7h1v6.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5zm11-11V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z" />
                        <path fill-rule="evenodd"
                            d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z" />
                    </svg>
                </a>
            </li>
            <li class="list-group-item _fbgvT5">
                <a class="" href="{% url 'explore' %}">
                    <svg width="25" height="25" fill="#783299" class="bi bi-people" viewBox="0 0 16 16">
                        <path
                            d="M15 14s1 0 1-1-1-4-5-4-5 3-5 4 1 1 1 1h8zm-7.978-1A.261.261 0 0 1 7 12.996c.001-.264.167-1.03.76-1.72C8.312 10.629 9.282 10 11 10c1.717 0 2.687.63 3.24 1.276.593.69.758 1.457.76 1.72l-.008.002a.274.274 0 0 1-.014.002H7.022zM11 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm3-2a3 3 0 1 1-6 0 3 3 0 0 1 6 0zM6.936 9.28a5.88 5.88 0 0 0-1.23-.247A7.35 7.35 0 0 0 5 9c-4 0-5 3-5 4 0 .667.333 1 1 1h4.216A2.238 2.238 0 0 1 5 13c0-1.01.377-2.042 1.09-2.904.243-.294.526-.569.846-.816zM4.92 10A5.493 5.493 0 0 0 4 13H1c0-.26.164-1.03.76-1.724.545-.636 1.492-1.256 3.16-1.275zM1.5 5.5a3 3 0 1 1 6 0 3 3 0 0 1-6 0zm3-2a2 2 0 1 0 0 4 2 2 0 0 0 0-4z" />
                    </svg>
                </a>
            </li>
            <li class="list-group-item _fbgvT5">
                <a class="" href="{% url 'Upload' %}">
                    <svg width="25" height="25" fill="#783299" class="bi bi-plus-circle" viewBox="0 0 16 16">
                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                        <path
                            d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
                    </svg>
                </a>
            </li>
            <li class="list-group-item _fbgvT5">
                <a class="" href="{% url 'Like' %}">
                    <svg width="25" height="25" fill="#783299" class="bi bi-heart" viewBox="0 0 16 16">
                        <path
                            d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z" />
                    </svg>
                </a>
            </li>
            <li class="list-group-item _fbgvT5">
                {% if request.user.image %}
                <a class="" data-bs-toggle="modal" href="#exampleModalToggle">
                    <img width="25" height="25" style="border-radius: 50%;" src="{{request.user.image.url}}" alt="">
                </a>
                {% else %}
                <a class="" data-bs-toggle="modal" href="#exampleModalToggle">
                    <svg width="25" height="25" fill="#783299" class="bi bi-person-circle" viewBox="0 0 16 16">
                        <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
                        <path fill-rule="evenodd"
                            d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z" />
                    </svg>
                </a>
                {% endif %}
            </li>
        </ul>
    </div>
</div>
<!-- end Side bar for media phones -->

{% endblock %}