{% extends 'flip/base.html' %}
{% load static %}

{% block link %}
<link rel="stylesheet" href="{% static 'flip/css/accounts.css' %}">
{% endblock %}

{% block title %}
<title>Flippics - Email Verify Done</title>
{% endblock %}

{% block content %}

<div class="container mt-5 mb-5" style="max-width: 20rem;">
    <div class="card" style="border: none;">
        <div class="_FgYBH text-center mt-5">
            <h3 class="_BFT5t">Password Reset Done</h3>
        </div>
        <div class="_GFTV text-center mb-3">
            <p class="card-text" style="font-size: 18px;color: #838383;">We send a link to your registerd email address,
                click on the link and continue the proccess.</p>
        </div>
    </div>
</div>

{% endblock %}