{% extends 'flip/base.html' %}
{% load static %}

{% block link %}
<link rel="stylesheet" href="{% static 'flip/css/accounts.css' %}">
{% endblock %}

{% block title %}
<title>Flippics - Email Verify Form</title>
{% endblock %}

{% block content %}

<div class="container mt-5 mb-5" style="max-width: 20rem;">
    <div class="card" style="border: none;">
        <div class="_FgYBH text-center mt-5">
            <h2 class="_BFT5t">Flippics</h2>
        </div>
        <div class="_GFTV text-center mt-3 mb-3">
            <p class="card-text" style="font-size: 15px;color: #979797;">Verify your registerd email address, and we
                send a link for reset your password.</p>
        </div>
        <div class="_FGVV">
            <div class="frHHUJ">
                <form action="" method="POST">
                    {% csrf_token %}
                    {% for fm in form %}
                    {{fm}}
                    {% endfor %}
                    <input type="submit" class="_JI8H" value="Verify">
                </form>
            </div>
        </div>
        <div class="_NJMIK mt-4 text-center">
            <a href="{% url 'authentications' %}" class="card-text _GBXC">Back to Log In</a>
        </div>
    </div>
</div>

{% endblock %}